<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
<appSettings>
  <!-- Possible values: CSV -->
  <add key="StorageType" value="CSV"/>
  
  <!-- If using StorageType==CSV, a location for the file must be supplied. Place it where things are backed up!!! -->
  <add key="CsvLocation" value="c:\temp\IdTracker.csv"/>

  <!-- Maintained by release -->
  <add key="ReleaseNumber" value="1.0.0.0"/>

</appSettings>
</configuration>